@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{
    background-color:white;
    color:black;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}
.bg-body-tertiary{
    background-color:gray;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-radius: 0;
    padding: 0;
   
}
div .nav-link:hover, div .nav-link:active{
    background-color:whitesmoke; 
 }


div.container-fluid{
    padding-bottom:20px;
    border:0px solid gray;
    background-color: gray;
    
}
.navbar-brand{
    padding-top: 25px;
}
#logo-img{
    width: 150px;
    height: 150px;

}
a.navbar-brand{
    text-transform: uppercase;
    display: flex;
}
.image-text{
    margin-left: -15px;
    margin-top: 130px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px 1px;
}
#fastfood{
    width: 40px;
    height: 40px;
    margin-top: 30px;
}
.navbar-toggler-icon:hover, .navbar-toggler-icon:active{
    background-color: rgb(183, 186, 186);
} 
button.navebar-toggler:hover, button.navbar-toggler:active{
    background-color: rgb(183, 186, 186); 
}

button.navbar-toggler{
    border: 2px solid black;
}  
#button{
    position: relative;
    float: right;
}
span.navbar-toggler-icon{
    width: 2em;
    height: 2em;
}
.navbar-nav{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    text-align: center;
    font-family: 'oswald', sans-serif;

}
a.nav-link{
 border-bottom: 1px solid black;
}



*{box-sizing: border-box;}
h1{
    text-align: center;
    
}
.food h2{
    border: 2px solid black;
    width: fit-content;
    font-size: 24px;
    color: #333;
    background-color: red;
    margin: 0;
    padding: 10px; 
    }
.food h3{
    border: 2px solid black;
    width: fit-content;
    font-size: 24px;
    color: #333;
    background-color:antiquewhite;
    margin: 0;
    padding: 10px; 
    }
.food h4{
    border: 2px solid black;
    width: fit-content;
    font-size: 24px;
    color: #333;
    background-color: pink;
    margin: 0;
    padding: 10px; 
    
    }
.food p{
    border: 0px solid #ccc;
    font-size: 16px;
    color:black;
    text-align: justify;
    padding: 5px;
    background-color:grey;
    height: 103px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    }
.food{
    background-color:grey;
    border: 2px solid black;
    text-align: center;
    margin-left: 10px;
    margin-top:10px;
    margin-bottom: 20px;
}

.row{
    width: 100%;
}

@media(min-width:1200px){
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,
.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
    float: left;
    border: 2px solid white;
}
.col-lg-1{
    width: 8.33%;
    }
.col-lg-2{
    width: 16.66%;
}
.col-lg-3{
    width: 25%;
}
.col-lg-4{
    width: 33%;
}
.col-lg-5{
    width:41.66%;
}
.col-lg-6{
    width:50%;
}
.col-lg-7{
    width:58.33%;
}
.col-lg-8{
    width:66.66%;
}
.col-lg-9{
    width:74.99%;
}
.col-lg-10{
    width:83.33%;
}
.col-lg-11{
    width:91.66%;
}
.col-lg-12{
    width:100%;
}}
@media (min-width:950px) and (max-width:1199px){
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,
    .col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
        float: left;
        border: 2px solid white;
    }
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33%;
    }
    .col-md-5{
        width:41.66%;
    }
    .col-md-6{
        width:50%;
    }
    .col-md-7{
        width:58.33%;
    }
    .col-md-8{
        width:66.66%;
    }
    .col-md-9{
        width:74.99%;
    }
    .col-md-10{
        width:83.33%;
    }
    .col-md-11{
        width:91.66%;
    }
    .col-md-12{
        width:100%;
    }}

